*{
    margin: 0;
    padding: 0;
}
/*Navbar-top*/
.navbar-top{
    width:100%;
    height:10vh;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.socail-link i img{
margin-left:10px;
transition: 0.5s ease;
cursor: pointer;

}
.socail-link i img:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .socail-link i img{
        width:20px;
    }
}
.logo h3{
    font-family: bold ;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size:100px;
    }
}
icons i img{
    margin-left: 10px;
    cursor:pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        font-size:20px;
    }
}